<header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm px-3">
        <div class="container-fluid px-5">
            <a class="navbar-brand" routerLink="/">
                <img [src]="logoURL" alt="College Logo" width="50">
            </a>

            <button class="navbar-toggler d-md-none" type="button" (click)="toggleMobileMenu()"
                aria-controls="mobileMenu" [attr.aria-expanded]="isMobileMenuOpen ? 'true' : 'false'"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" *ngIf="!isMobileMenuOpen">
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item" *ngFor="let link of navLinks; trackBy: trackByFn">
                        <a class="nav-link" [routerLink]="link.path" [fragment]="link.fragment"
                            routerLinkActive="active" (click)="closeMobileMenu()">
                            {{ link.label }}
                        </a>
                    </li>
                </ul>
                <button class="btn custom-btn ms-3" (click)="openLoginModal()">Login</button>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" [ngClass]="{ 'show': isMobileMenuOpen }" id="mobileMenu">
        <div class="offcanvas-header">
            <div class="logo-container">
                <img [src]="imageURL" alt="College Logo" class="circular-logo" loading="lazy">
            </div>
            <h5 class="offcanvas-title">{{ titleName }}</h5>
            <hr class="divider">
        </div>

        <div class="offcanvas-body">
            <ul class="navbar-nav text-center">
                <li class="nav-item" *ngFor="let link of navLinks; trackBy: trackByFn">
                    <a class="nav-link" [routerLink]="link.path" [fragment]="link.fragment" routerLinkActive="active"
                        (click)="closeMobileMenu()">
                        {{ link.label }}
                    </a>
                </li>
            </ul>
            <button class="btn custom-btn mt-2" (click)="openLoginModal()">Login</button>
        </div>
    </div>

    <app-login *ngIf="isLoginModalVisible" [isVisible]="isLoginModalVisible" (close)="closeLoginModal()"></app-login>
</header>