.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    background: #24025f;
    flex-direction: column;
    transition: width 0.3s ease-in-out, box-shadow 0.2s ease;
    z-index: 1000;
}

.sidebar-expanded {
    width: 250px;
}

.sidebar-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-expanded .sidebar-header {
    margin-top: 6px;
    border-bottom: 2px solid white;
}

.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.sidebar-title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.sidebar-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-link {
    display: flex;
    padding: 12px;
    cursor: pointer;
    color: #f2f2f2;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.sidebar-link:hover {
    color: #131313;
    background: #fefffe;
    transform: scale(1.05);
}

.sidebar-expanded .sidebar-link {
    justify-content: flex-start;
}

.sidebar-icon {
    font-size: 20px;
}

.sidebar-text {
    margin-left: 8px;
    display: none;
}

.sidebar-expanded .sidebar-text {
    display: inline;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 50px;
    }

    .sidebar-expanded {
        width: 230px;
    }

    .sidebar-expanded .sidebar-header {
        margin: 2px;
    }


    .sidebar-icon,
    .sidebar-title {
        font-size: 16px;
    }

    
    .sidebar-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 0;
    }

    .sidebar-expanded {
        width: 180px;
    }

    .sidebar-expanded .sidebar-header {
        margin: 0;
    }

    .profile-img {
        width: 40px;
        height: 40px;
    }

    .sidebar-title {
        font-size: 14px;
    }

    .sidebar-icon {
        font-size: 16px;
    }

    .sidebar-text {
        margin-left: 6px;
    }

    .sidebar-link {
        padding: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 0;
    }

    .sidebar-expanded {
        width: 160px;
    }

    .sidebar-expanded .sidebar-header {
        margin-top: 0px;
        height: 70px;
    }

    .profile-img {
        width: 35px;
        height: 35px;
    }

    .sidebar-title {
        font-size: 12px;
    }

    .sidebar-icon {
        font-size: 14px;
    }

    .sidebar-link {
        font-size: 10px;
    }

    .sidebar-text {
        margin-left: 4px;
    }
}