/* General Modal Styles */
.modal {
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Dialog */
.modal-dialog {
  max-width: 90vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  width: 90%;
  max-width: 350px;
  border-radius: 8px;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

/* Logo Style */
.logo {
  width: 50px;
  max-width: 80%;
}

/* Separator Line */
.separator {
  width: 100%;
  border: 0.5px solid #878686;
}

/* Modal Title */
.modal-title {
  margin: 0;
  font-size: 18px;
}

/* Floating Label Style */
.form-floating label {
  padding-left: 5px;
  transition: all 0.3s ease;
}

/* Input Fields */
.form-floating input {
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none !important;
  padding: 14px 10px 0px 10px;
  border-bottom: 2px solid #ccc;
}

/* Floating Label Animation */
.form-floating input:focus+label,
.form-floating input:not(:placeholder-shown)+label {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  transform: translateY(-15px);
}

/* Forgot Password Link Styles */
.forgot-password {
  color: black;
  display: block;
  margin: 10px 0;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Submit Button Styles */
.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

/* Hide Modal */
.modal[hidden] {
  display: none !important;
}

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 90%;
    margin: auto;
  }

  .modal-title {
    font-size: 1.1rem;
  }

  .form-floating input {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }
}


@media (min-width: 576px) and (max-width: 768px) {
  .modal-dialog {
    max-width: 90%;
  }

  .modal-content {
    padding: 20px;
  }

  .btn {
    font-size: 15px;
    padding: 14px;
  }
}

/* Large Screens (Desktops) */
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 50%;
  }

  .modal-content {
    padding: 30px;
  }

  .btn {
    font-size: 16px;
    padding: 15px;
  }
}