.main-content {
    position: fixed;
    margin-top: 86px;
    overflow-y: auto;
    margin-left: 60px;
    box-sizing: border-box;
    width: calc(100% - 60px);
    height: calc(100vh - 85px);
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-content.content-expanded {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main-content::-webkit-scrollbar {
    width: 0;
}

.main-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (max-width: 1024px) {
    .main-content {
        margin-top: 82px;
        margin-left: 50px;
        width: calc(100% - 50px);
    }

    .main-content.content-expanded {
        margin-left: 230px;
        width: calc(100% - 230px);
    }
}


@media screen and (max-width: 768px) {
    .main-content {
        width: 100%;
        margin-top: 80px;
        margin-left: 0px;
    }

    .main-content.content-expanded {
        margin-left: 180px;
        width: calc(100% - 180px);
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        width: 100%;
        margin-left: 0px;
        margin-top: 68px;
    }

    .main-content.content-expanded {
        margin-left: 160px;
        width: calc(100% - 160px);
    }
}