<app-header
  [isSidebarExpanded]="isSidebarExpanded"
  (sidebarStateChange)="onSidebarStateChange($event)"
  (profileCardToggle)="onProfileCardToggle()"
  (manualToggle)="onManualToggle($event)"
></app-header>

<app-side-navbar
  [userImage]="navImage"
  [menuItems]="menuItems"
  [navbarHeader]="navTitle"
  [isManualToggle]="isManualToggle"
  [isSidebarExpanded]="isSidebarExpanded"
  (sidebarStateChange)="onSidebarStateChange($event)"
></app-side-navbar>

<app-profile-card
  *ngIf="isProfileCardVisible"
  [profile]="userProfile"
  [profileMenuItems]="profileMenuItems"
  (logout)="confirmLogout()"
></app-profile-card>

<!-- Main Content -->
<div class="main-content" [ngClass]="{ 'content-expanded': isSidebarExpanded }">
  <router-outlet></router-outlet>
</div>
